# Ignore node_modules directory (Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore compiled files and directories
/dist
/build

# Ignore environment variable files
.env

app_cache.db

# Ignore OS-specific files
.DS_Store
Thumbs.db
